body {
    margin: 0;
    text-align: center;
    display: block;
}

#head-section {
    color: white;
    background-color: #6943FF;
    padding: 20px;
}

#input-el {
    background-color: #6943FF;
    border: 1px solid white;
    border-radius: 5px;
    width: 100px;
    height: 70px;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 15px;
    color: white;
}

#button-el {
    height: 36px;
    width: 100px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

#result-section {
    margin-top: 20px;

}

.results {
    margin: 20px;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 5px;
    background-color: #F4F4F4;
}

h4 {
    color: #5A537B;
    font-size: 20px;
}